.qrect{
    position:relative;
}

.qrect .text1{
    position:absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space:nowrap; 
    color:rgb(68, 98, 127);
}
.qrect .text2{
    position:absolute;
    top:65%;
    left:50%;
    transform: translate(-50%, -50%); /*중앙정렬*/
    white-space:nowrap; /*줄바꿈 금지*/
    color:rgb(68, 98, 127);
}
