html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

main{
  height: 100%;
  width: 100%;
  padding: 0px;
}


.form-control{
  /* Rectangle 545 */

box-sizing: border-box;
border-radius: 36px;
border: 1px solid #E9E9E9;

}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.signin-email{
  background-image: url(../img/login/email.png);
  background-size: 25px;
  background-position:  15px;
  background-repeat: no-repeat;
  text-indent: 35px;
}
.signin-pwd{
  background-image: url(../img/login/pwd.png);
  background-size: 25px;
  background-position:  15px;
  background-repeat: no-repeat;
  text-indent: 35px;
}


label{
  color:#818181;
  text-indent: 35px;
}


.direction {
/* E-mail address */

  /* position: absolute; */
  width: 107px;
  height: 21px;
  left: 24px;
  top: 202px;
  text-align: left;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #114a426d;
}

.title1
{
  /* Sign in */
width: 0%;
height: 0%;
left: 2%;
top:12%;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;
/* identical to box height */

color: #1F1F1F;


}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 15px;
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: rgb(88, 88, 93); text-decoration: underline;}